# Database Configuration
DATABASE_URL="postgresql://postgres:postgres@localhost:5445/postgres?schema=public"

# Auth Configuration (optional - email/password works without these)
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Better Auth
BETTER_AUTH_SECRET=your_secret_here
BETTER_AUTH_URL=http://localhost:3000
